# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.LifeBrush.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\LifeBrush\LifeBrush\LifeBrush\.idea\.idea.LifeBrush\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
